*{
    padding: 0;
    margin:0 ;
    box-sizing: border-box;
    background-color:var(--bg-clr) ;
}
.light-theme{
    --btn-c:black
    --p-clr:black
    --bg-clr:#55AD9B
    --btn-b-c:white


    

}
.dark-theme{
    --btn-c:white
    --p-clr:white
    --bg-clr:black
    --btn-b-c:black
}

.btn{
  padding: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  background-color:var(--btn-b-c);
  color: var(--btn-c);
  cursor: pointer;
  margin-top: 20rem;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin: 10rem; */
}
.p{
    margin-top: 2rem;
    color:var(--p-clr) ;
}